ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Roboto";
  color: #434455;
  background-color: #ffff;
}
.list {
  list-style: none;
}
/* #region header */
.header {
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
}
.colortext {
  color: #4d5ae5;
}
.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-right: 40px;
}
.header-contacts:hover,
.header-contacts:focus {
  color: #404bbf;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
/* #endregion header */
/* #region hero */
.hero {
  background: #2e2f42;
}
.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  color: #fff;
  background: #404bbf;
}
/* #endregion hero */
.our-team {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
/* #region footer */
.footer {
  background: #2e2f42;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.colortext {
  color: #4d5ae5;
}
.text-footer {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* #endregion hero */
